@import "../Utils/variables";
@import "../Utils/mixins";

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: var(--buttons-bg-color);
    color: var(--buttons-color);

    font-size: 16px;
    text-align: left;

    padding: 14px;

    width: 170px;

    border-radius: var(--buttons-border-radius);
}