// Dark theme
@media (prefers-color-scheme: dark) {
    //SASS Variables
    $body-bg-color: black;

    $text-color-secondary: lighten(#901C1C, 20%);
    $text-color-tertiary: white;
    $text-color-quaternary: #8a8a8a;

    $bg-color-primary: #D3573C;
    $bg-color-secondary: lighten(#901C1C, 20%);
    $bg-color-tertiary: white;
    $bg-color-quaternary: #8a8a8a;

    //For the scrollbar
    $scrollbar-bg-color: #424242;
    $scrollbar-thumb-bg-color: #686868;
    $scrollbar-thumb-bg-color--hover: #7b7b7b;
    //

    //CSS variables
    :root {
        //Color variables
        --body-bg-color: #{$body-bg-color};
        --text-color-primary:#{$text-color-primary};
        --text-color-secondary:#{$text-color-secondary};
        --text-color-tertiary:#{$text-color-tertiary};
        --text-color-quaternary:#{$text-color-quaternary};


        --bg-color-primary:#{$bg-color-primary};
        --bg-color-secondary:#{$bg-color-secondary};
        --bg-color-tertiary:#{$bg-color-tertiary};
        --bg-color-quaternary:#{$bg-color-quaternary};

        //For the scrollbar
        --scrollbar-bg-color:#{$scrollbar-bg-color};
        --scrollbar-thumb-bg-color:#{$scrollbar-thumb-bg-color};
        --scrollbar-thumb-bg-color--hover:#{$scrollbar-thumb-bg-color--hover};
        //

        --bg-color-likes-invoice: #{$bg-color-likes-invoice};
    }
}